{% extends 'base.html.twig' %}
{% block title %}Reporte de solicitudes {% endblock %}
{% block body %}
<div class="mai-wrapper mai-clinica">
	<div class="main-content container">
		<div class="row">
			<div class="col-sm-12">

				<div class="panel panel-default ">
					<div class="panel-heading ">
					Solicitudes
						<span class="panel-subtitle">Ingrese el <span class="text-danger">Código de Historia Clínica</span> para mostrar los registros </span>
					</div>
					<div class="panel-body">
						<form action="{{ path('reportes') }}" method="post" class="mayoristas-search">
							<div class="row">
								<div class="col-sm-7 pr-0 has-danger-">
									<input name="buscar" id="buscar" type="text" placeholder="HC0000000" class="form-control " autoComplete="off"  required ="" data-parsley-minlength="1" data-parsley-errors-messages-disabled="false">
								</div>
								<div class="col-sm-3 pr-0">
									<div class="form-group">
										<input type="submit" class="btn btn-space btn-secondary btn-lg search m-0 pl-5 pr-5 " value="Buscar"  />
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				{% if codhistoria is not empty %}
				<div class="panel panel-default panel-table">
					<div class="panel-heading panel-heading-divider">
 						Historia Clínica :
						<span class="badge badge-pill badge-danger px-3" style="margin-top: -5px; font-size: 0.9em;"> HC{{  formato_hc(codhistoria) }}  </span> 
						{# codhistoria|default('000000') #}
						</br>
						 Paciente :
						<span class="text-danger"> {{ nombrepaciente }} </span>
						
					</div>

					<div class="panel-body mt-3">
						<table id="table3" class="table table-striped table-hover">
							<thead style="background: #f5f5f5">
								<tr>
									<th>Destino</th>
									<th class="content-hide">Zona</th>
									<th>Referencia</th>
									<th>Médico</th>
									<th>F. Cita</th>
									<th>Estado</th>
									<th>Ub. Actual</th>
									<th data-orderable="false" class="text-right"></th>
								</tr>
							</thead>
							<tbody>
							{% for item in solicitudes %}
								<tr>
									<td>
									{{nombre_sede(item.codsede)}}										
									</td>
									<td class="content-hide">{{ item.codzona }}</td>
									<!-- {{ item.nomconsultorio }} {{ item.nomconsultorio }}  -->
									<td>{{ item.referencia | title }}</td>
									<td>{{ item.nommedico | title }}</td>
									<td>{{  item.fechapedido|date("d/m/Y") }} - {{ item.fechapedido|date('h:i A') }}</td>
									<td>
										<span class="badge badge-pill badge{{ tagstats(item.estado) }}">{{ stpedido(item.estado) }} </span> 
									</td>
									 <td>
										<span class="description">
										{{ ubicacion_actual (item.estado)}}											
									</td>
									<td class="text-right">
										{% if is_granted("ROLE_ADMIN") %}
										<div class="btn-group btn-hspace">
										<button type="button" data-toggle="dropdown" class="btn btn-secondary btn-xs dropdown-toggle"> Ver
											<span class="icon-dropdown s7-angle-down"></span>
										</button>
										<div role="menu" class="dropdown-menu dropdown-menu-right ">
											<a href="{{ path('solicitud_detalle') }}/{{ item.idsolicitud }}" class="dropdown-item">Ver Detalles</a>								
											<a href="#" data-idsolicitud="{{ item.idsolicitud }}" data-user="{{ app.user.idusuario }}"  class="dropdown-item reimprimirsolicitud">Imprimir solicitud</a>
											<form id="aceptar_solicitud_{{ item.idsolicitud }}" action="{{ path("aceptar_solicitud") }}" method="POST">
												<input type="hidden" class="custom-control-input" value="{{ item.idsolicitud }}" name="solicitud[{{ loop.index0 }}][idsolicitud]">
												<input type="hidden" value="{{ app.user.idusuario }}" name="solicitud[{{ loop.index0 }}][user]" >
											</form>
											<!-- -->
											<div class="dropdown-divider"></div>
											<a href="#" data-estado="0" data-idsolicitud="{{ item.idsolicitud }}" data-user="{{ app.user.idusuario }}" class="dropdown-item confirmarproceso">Pendiente</a>
											<a href="#" data-estado="1" data-idsolicitud="{{ item.idsolicitud }}" data-user="{{ app.user.idusuario }}" class="dropdown-item confirmarproceso">En Busqueda</a>								
											<a href="#" data-estado="2" data-idsolicitud="{{ item.idsolicitud }}" data-user="{{ app.user.idusuario }}" class="dropdown-item confirmarproceso">Encontrado</a>
											<a href="#" data-estado="3" data-idsolicitud="{{ item.idsolicitud }}" data-user="{{ app.user.idusuario }}" class="dropdown-item confirmarproceso">En Trayecto</a>
											<a href="#" data-estado="4" data-idsolicitud="{{ item.idsolicitud }}" data-user="{{ app.user.idusuario }}" class="dropdown-item confirmarproceso">Entregado</a>
											<a href="#" data-estado="5" data-idsolicitud="{{ item.idsolicitud }}" data-user="{{ app.user.idusuario }}" class="dropdown-item confirmarproceso">En Retorno</a>
											<a href="#" data-estado="6" data-idsolicitud="{{ item.idsolicitud }}" data-user="{{ app.user.idusuario }}" class="dropdown-item confirmarproceso">En Acopio</a>
											<a href="#" data-estado="7" data-idsolicitud="{{ item.idsolicitud }}" data-user="{{ app.user.idusuario }}" class="dropdown-item confirmarproceso">Archivado</a>
											<a href="#" data-estado="8" data-idsolicitud="{{ item.idsolicitud }}" data-user="{{ app.user.idusuario }}" class="dropdown-item confirmarproceso">Anulado</a>
										</div>
										</div>
										{% else %}
										<a href="{{ path('solicitud_detalle') }}/{{ item.idsolicitud }}" class="btn btn-secondary btn-xs dropdown-toggle">Ver Detalles <span class="icon-dropdown s7-angle-down"></span></a>
										{% endif %}

									</td>
								</tr>
							{% endfor %}
							</tbody>
										{# <tfoot>
                                            <tr>
                                                <td colspan="7">
                                                    <div class="text-left">
                                                        <!--   -->
														<nav>
                                                        <ul class="pagination">
                                                            {{ paginador|raw }}
                                                        </ul>
														</nav>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot> #}
						</table>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>

<div style="display:none;" id="responsables-lst">
{% for responsables in responsables %} 
<option value="{{ app.user.idusuario }}">Usuario por defecto ( {{ app.user.nombre }} {{ app.user.apellidos }} )</option> 
<option value="{{responsables.idusuario }}">{{ responsables.nombre }} {{ responsables.apellidos }}</option> 
{% endfor %}
</div>


</div>
{% endblock %}
{% block javascript %}
<script>
	$(document).ready(function () {
		$.fn.dataTable.ext.errMode = 'none';
		App.init();
		App.menuActive(2, 1);
		App.dataTables();
		$('form').parsley();
		$("#date1").datepicker({
			changeMonth: true,
			changeYear: true
		});

		$("#date2").datepicker({
			changeMonth: true,
			changeYear: true
		});
		reimprimirsolicitud();

		$("a.confirmarproceso").click(function (event) {
			var estado = $(this).attr('data-estado');
			var idsolicitud= $(this).attr('data-idsolicitud');
			var user= $(this).attr('data-user');
			var estadotxt = $(this).text();						
			swal({
				html: true,
				title: "¿Deseas cambiar al estado: </br> <u class='text-danger text-uppercase'>"+ estadotxt +"</u>?",
				text: "Esta acción actualizara el estado de atención de la Historia Clínica!<br>", //+
						//"<select id=\"responsable\">"+
						//"{% for responsables in responsables %} <option value=\"{{ app.user.idusuario }}\">Usuario por defecto ( {{ app.user.nombre }} {{ app.user.apellidos }} )</option> <option value=\"{{responsables.idusuario }}\">{{ responsables.nombre }} {{ responsables.apellidos }}</option> {% endfor %}"+
						//"</select>",
				icon: "success",
				imageUrl: "{{ asset('/assets/img/')}}folder_icon.png",
				type: "input",
				showCancelButton: true,
				showLoaderOnConfirm: false,
				confirmButtonClass: "btn-danger",
				confirmButtonText: "Si, proceder",
				cancelButtonText: "Cancelar",
				closeOnConfirm: true,
				inputPlaceholder: "Comentarios"
			},
				function (confirm) {
					var select = $("div.sweet-alert select#responsable").val();
					if (confirm) {
						var responsable = user;
						if( $.trim(select) !== "" && estado === 2){
							responsable = select;
						}
						$.post('{{ path("procesar_solicitud") }}',{user:responsable,idsolicitud:idsolicitud,estado:estado,confirm:confirm},function(data){
							if(data.success){
								swal("Procesando!", "Solicitud Procesada!", "success");
								location.reload();
							}else{
								swal("Procesando!", "Esta Solicitud no se puede procesar!", "error");
							}
						},'json');
					}
					/**/
				});
		});

		//solicitudespendientes();
	//	reimprimirsolicitud();

	});
// ACEPTAR PENDIENTE / IMPRIMIR TICKETS
	/*function solicitudespendientes(){
		$(".solicitudespendientes").html('<div class="loadingDiv"><div class="lds-ripple"><div></div><div></div></div></div>');
		$.ajax({
				type: "GET",
				url: '{{ path("solicitudes_pendientes") }}',
				//data: { rowid: rowid, qty: qty },
				dataType: 'html',
				success: function(data){
					$(".solicitudespendientes").html(data);
					//checkSolicitudes();//iniciar loop
					App.dataTables();
					$('#check-all').change(function() {
						var st = $(this).prop('checked');
						var checkboxes = $(this).closest('form').find(':checkbox');
						if (st){
							checkboxes.prop('checked', true);
						}else {
							checkboxes.prop('checked', false);		
						}
					});
					$("form#aceptar_solicitud").ajaxForm({
						dataType:  'json',
						beforeSubmit: function (formData, jqForm, options){
									$(".solicitudespendientes").html('<div class="loadingDiv"><div class="lds-ripple"><div></div><div></div></div></div>');
									return true;
						},
						success: function (responseText, statusText, xhr, $form)  {
							if(responseText.success===1){
										swal("Tickets recibido!", "Se ha ingresado una nueva solicitud, \n ¡Revise el ticket de datos, para la atención!", "success");
										 //solicitudespendientes();
										}else{
										swal("Error de impresión!", "No se puede tomar la solicitud, revise el funcionamiento de la impresora!", "error");
							}
						}
					});
				},
				error: function (response) {
					//Handle error
					$(".loadingDiv").hide();
				}
			});
	}*/
	function reimprimirsolicitud(){
		$(".reimprimirsolicitud").on("click", function(e){
						e.preventDefault();
						//var url = $(this).attr('action');
						var url = "{{ path('imprimir_solicitud') }}";
						var idsolicitud = $(this).attr('data-idsolicitud');
						var idusuario = $(this).attr('data-user');
						$.post(url,{idusuario:idusuario,idsolicitud:idsolicitud},function(data){
							if(data.success===1){
								swal("Ticket impreso!", "Se ha enviado correctamente la impresión de la solicitud: RF2-" + idsolicitud , "success");
								//location.reload();
							}else{
								swal("Procesando!", "No se puede imprimir, revise e intentelo nuevamente!", "error");
							}
						},'json');
					});
	}
</script>
{% endblock %}